{% extends 'portfolio/base.html' %}

{% block body %}
    <div class="container">
        {% for project in projects %}
        <div class="card" style="width: 18rem">
            <img src="{{project.image.url}}" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title">{{project.title}}</h5>
                <p class="card-text">{{project.description}}</p>
                <a href="{{project.url}}" target="_blank" class="btn btn-primary">Link</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock body %}
